// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$grafite: rgba(89,89,89,1);
$dark-blue: rgba(23,42,58,1);
$mid-blue: rgba(70,105,149,1);
$vivid-blue: rgba(117,221,221,1);
$shy-blue: rgba(193,219,227,1);
$beige: #F5F5DC;
$spacewagons-green: #64A19D;
$burgershop-red: #FF9696;
$burgershop-blue: #ADD8E6;
