// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,4007,00|Oswald:300,400,700|Roboto+Condensed:300,400,700|Roboto:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Encode+Sans+Condensed:200,300,400,500,600,700|Great+Vibes|Lobster|Nanum+Myeongjo:400,700");
@import url("https://fonts.googleapis.com/css?family=Bangers");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,600");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";
$roboto: 'Roboto', 'sans-serif';

// Lobster looks like a cursive, good for titles
$lobster: 'Lobster', cursive;

// Encode sans condensed is good for content texts;
$encode-sans: 'Encode Sans Condensed', sans-serif;

// Amatic is good for stilish titles
$amatic: 'Amatic SC', cursive;

// Great vibes is a nice cursive for subtitles
$greatvibes: 'Great Vibes', cursive;

// Nanum is normal, good for content text
$nanum: 'Nanum Myeongjo', serif;

$bangers: 'Bangers', cursive;

// oswald for paragraph text
$oswald: 'Oswald', sans-serif;
