// Accordeon titles on pages project
.accordeon-project {
  background-color: $dark-blue;
  border-bottom: none;
  color: white;

  margin: 10px 0 0 0;

  &:hover {
    cursor: pointer;
  }
}

// Each item on the inside menu of the accordeon on pages project
.each-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-radius: 20px;

  position: relative;

  padding: 16px 26px;
  margin: 4px 0;

  &:hover {
    cursor: pointer;
    background: $shy-blue;
    transition: 300ms;
  }
}

.project-picture {
  max-width: 80%;

  padding-right: 3%;

  flex: 0 0 30%;

  img {
    width: 100%;
    max-height: 30vh;
  }
}

.project-content {
  flex: 0 0 70%;

  padding-left: 2%;
}

.project-title {
  font-size: 24px;
  font-weight: normal;
  color: $dark-blue;
  font-family: $roboto;
}

.project-tags {
  font-size: 18px;
  font-weight: normal;
  color: rgba(150,150,150,1);
  font-family: $roboto;
  text-transform: uppercase;
  margin-top: 5px;
}

.project-description {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(100,100,100,1);
  font-family: $nanum;
  text-align: justify;
  margin-top: 25px;
}

.project-cta {
  font-size: 20px;
  font-weight: normal;
  color: $blue;
}
