.wrapper-project-spacewagons {
  height: cover;
  width: auto;

  background-image: linear-gradient(-225deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 80%), url('https://images.pexels.com/photos/1205301/pexels-photo-1205301.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=800&w=1260');
  background-repeat: repeat-y;
}

@media screen and (min-width: 1200px) {
  .wrapper-project-spacewagons{
    padding: 110px 250px 40px 250px;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper-project-spacewagons {
    padding: 100px 80px 40px 80px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper-project-spacewagons {
    padding: 50px 25px 40px 25px;
  }
}

.container-project-spacewagons {

}

.spacewagons-title-logo {
  width: 600px;
}

.spacewagons-title-description {
  font-size: 28px;
  color: white;
  font-family: $encode-sans;
}

.spacewagons-section-title {
  font-size: 35px;
  color: $spacewagons-green;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: $encode-sans;
}

.spacewagons-section-text {
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  text-align: justify;
  font-family: $encode-sans;
}

.spacewagons-text-title {
  font-size: 25px;
  color: $spacewagons-green;
}

.spacewagons-gotosite-text {
  font-size: 35px;
  letter-spacing: 2px;
  color: $spacewagons-green;
  font-family: $encode-sans;
}

.spacewagons-gotosite {
  opacity: 0.8;

  &:hover {
    opacity: 1;
    transition: 300ms ease;
  }
}

.spacewagons-section-subtitle {
  font-size: 25px;
  color: $spacewagons-green;
}

.spacewagons-section-gameplay-title {
  color: white;
  font-size: 30px;
}

.carousel-control-spacewagons {
  font-size: 80px !important;
}

.spacewagons-days-highlight {
  font-size: 30px;
  font-weight: bold;
}

.spacewagons-modal-image {
  width: 100% !important;
}

.spacewagons-github-link {
  color: $spacewagons-green;
  font-weight: 600;
  text-align: center;
  display: block;
  border: 1px solid $spacewagons-green;
  padding: 30px 0;
  margin: 30px 0 0 0;
  background: #141414;

  i {
    font-size: 30px;
    margin-right: 20px;
  }

  &:hover {
    color: white;
    background: $spacewagons-green;
    transition: 500ms ease;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .spacewagons-title-logo {
    width: 300px;
    margin-top: 70px;
  }

  .spacewagons-title-description {
    font-size: 22px;
    margin-top: 30px;
  }

  .spacewagons-section-title {
    font-size: 26px;
    color: $spacewagons-green;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: $encode-sans;
  }

  .spacewagons-section-text {
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    text-align: justify;
    font-family: $encode-sans;
  }

  .spacewagons-text-title {
    font-size: 25px;
    color: $spacewagons-green;
  }

  .spacewagons-gotosite-text {
    font-size: 26px;
    letter-spacing: 1px;
    color: $spacewagons-green;
    font-family: $encode-sans;
  }

  .spacewagons-days-highlight {
    font-size: 25px;
  }

  .spacewagons-section-subtitle {
    font-size: 25px;
  }

  .spacewagons-section-gameplay-title {
    font-size: 20px;
  }

  .carousel-control-spacewagons {
    font-size: 40px !important;
  }

  .spacewagons-modal-image {
    width: 100% !important;
    height:  40% !important;
  }
}
