<ul class="list-inline title-banner-list">
  <li class="title-banner-list-item">
    <a href="/experiences" class="title-banner-active">Experiences</a>
  </li>
  <li class="title-banner-list-item">
    <a href="/projects" class="">Projects</a>
  </li>
  <li class="title-banner-list-item">
    <a href="/skills" class="">Skills</a>
  </li>
  <li class="title-banner-list-item">
    <a href="/contact" class="">Contact</a>
  </li>
</ul>
