<ul class="list-inline title-banner-list">
  <li class="title-banner-list-item">
    <a href="/resume" class="<%= "title-banner-active" if params[:page] == "resume" %>">Resume</a>
  </li>
  <li class="title-banner-list-item">
    <a href="/projects" class="<%= "title-banner-active" if params[:page] == "projects" %>">Projects</a>
  </li>
  <li class="title-banner-list-item">
    <a href="/contact" class="<%= "title-banner-active" if params[:page] == "contact" %>">Contact</a>
  </li>
</ul>
