<div class="title-banner page-desktop" style="background-image: linear-gradient(-45deg, rgba(0,101,168,1) 0%, rgba(0,36,61,1) 80%), url(<%= @page_link %>);">
  <div class="title-banner-content">
    <h1><%= @page_title %></h1>
    <%= render 'shared/list-links' %>
  </div>
</div>
