<div class="wrapper-homepage">
  <div class="banner banner-home-left" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('http://isha.sadhguru.org/blog/wp-content/uploads/2016/05/natures-temples.jpg');">
    <div class="banner-content">
      <h2 class="banner-left-name">
        Felipe Machado dos Santos
      </h2>

      <h1 class="banner-left-phrase">
        “Waste no more time arguing what a good man should be. Be One.”
      </h1>

    </div>
  </div>

  <div class="banner banner-home-right">
    <div class="banner-content">
      <h1 class="banner-right-title">Personal portfolio</h1>
      <p class="banner-right-content">
        After working in business analytics related areas and deciding not to follow, I took a turn and completed a 2-month intensive programming bootcamp in Nov/2018. I had a taste for programming since I was 12, but the bootcamp turned coding into a top-level skill and a passion. I've been working in many projects since and you can take a look at them in the Projects session. I am looking to enter on the vivid technology & startup world as a full-stack developer, while also offering my expertise on business areas and well developed soft skills.
      </p>

      <ul class="list-inline banner-list">
        <li class="banner-list-item">
          <a href="/resume" class="">Resume</a>
        </li>
        <li class="banner-list-item">
          <a href="/projects" class="">Projects</a>
        </li>
        <li class="banner-list-item">
          <a href="/blog" class="">Blog</a>
        </li>
        <li class="banner-list-item">
          <a href="/contact" class="">Contact</a>
        </li>
      </ul>


    </div>
  </div>
</div>
