<div class="col-xs-12 col-md-6  col-projects">
      <%= link_to "/projects/spiraldynamics" do %>
        <div class="projects-card" style="background-color: rgba(181,255,243,1)">
          <div class="projects-image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(<%= asset_path("projects-spiraldynamics.png") %>); background-size: 80%;">
          </div>
          <div class="projects-section">
            <p class="projects-section-text">Rails quiz app</p>
          </div>
          <div class="projects-description">
            <div class="project-description-items">
              <h1 class="project-title">
                Spiral Dynamics Quiz
              </h1>
              <h2 class="project-tags">
                Psychology &nbsp; Questionnaire &nbsp; Mobile friendly &nbsp; Ruby on Rails
              </h2>
              <p class="project-description">
                A friend I met when I went to study in the US wanted some help with her psychology major senior project. She needed a quiz to assess respondents according to the Spiral Dynamics ultimate model of human values and thinking patterns. For me, it was a great opportunity to practice with Rails controller logics and Javascript/Rails Forms integration to build an interactive platform.
              </p>
              <p class="project-cta">
                Click to see details
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
