<%= render 'shared/title-bar' %>

<!-- Normal navbar for mobile -->

<!-- //// -->

<div class="wrapper-page">
  <div class="container-page">
    <div class="middle">
      <div class="menu">
        <li class="item" id="programming">
          <p class="accordeon-group accordeon-group-0"><i class="fas fa-caret-down accordeon-dropdown-carets"></i>Programming</p>
          <div class="smenu">
            <div class="each-experience">
              <h1 class="experience-title">
                Le Wagon Coding Bootcamp
              </h1>
              <p class="experience-when">Sep/2018 - Nov/2018 </p>
              <p class="experience-description">
                Le Wagon's coding bootcamp is considered the best bootcamp in Europe, and I can see why. The program consists of 9-week intensive every-day immersion in fullstack development with daily challenges to learn technologies which are being employed by the top tech companies and startups on the market. I was able to solve 360+ programming challenges and launch several web applications, including a marketplace-based online game (http://spacewagons.herokuapp.com/) and a movie recommendation system (https://www.every-thing.me/)
              </p>
              <p class="experience-description">
                During the these intensive 2 months, I was able to learn in-depth and in a practice oriented way the following technologies: HTML, CSS, Bootstrap, JavaScript ES2016, SQL, git, GitHub, Heroku and Ruby on Rails. I completed 360+ programming challenges and launched several web applications, and many can be seen on the projects tab.
              </p>
            </div>


          </div>
        </li>

        <li class="item" id="business">
          <p class="accordeon-group accordeon-group-1"><i class="fas fa-caret-down accordeon-dropdown-carets"></i>Business</p>
          <div class="smenu">
            <div class="each-experience">
              <h1 class="experience-title">
                Codon Biotecnologia
              </h1>
              <p class="experience-when">Sep/2017 - Jul/2018 </p>
              <p class="experience-description">
                Private company in the healthcare sector specialized in genetics. I had a position in which I was able to participate in projects in all core sectors of the company, mainly on Strategy, BI, Operations and Marketing.
              </p>
              <p class="experience-description">
                The projects I developed in each area were: <br>
                <span class="experience-content-highlight">Strategy:</span> Pricing model considering costs, market and willingness to pay, M&A analysis and valuation to reach new markets, New product development; <br>
                <span class="experience-content-highlight">Business Intelligence:</span> P&L and Cash Flow models and monitoring from raw data; designed sheets that receive simple inputs and generate all important visualizations; PowerBI; <br>
                <span class="experience-content-highlight">Operations:</span> Streamlined processes and implemented a management software to integrate and automate all areas; <br>
                <span class="experience-content-highlight">Marketing & Sales:</span> Developed the comercial plan; Implemented Salesforce.
              </p>
            </div>

            <div class="each-experience">
              <h1 class="experience-title">
                Bain & Company XI Strategic Challenge
              </h1>
              <p class="experience-when">May/2017 - Jun/2017 </p>
              <p class="experience-results">Results: 1st place in Minas Gerais, 3rd place in Latin America</p>
              <p class="experience-description">
                The Bain&Company Strategic Challenge is the biggest student business case competition in the Latin America. Between 2,000 high level students starting the first phase, the team finished 3rd best in Latin America.
              </p>
              <p class="experience-description">
                The regional finals occured in Belo Horizonte, MG, and presented a case study involving developing a pricing model optimization, fleet composition & renewal strategy around the biggest car rental company in South America, Localiza. The Latin America finals occured in Sao Paulo, SP, and presented a case study involving valuation & acquisition, also regarding a real life analysis case when Localiza merged with Hertz.
              </p>
              <p class="experience-description">
                The presentations prepared by the team can be downloaded in the following links:
              </p>
            </div>

            <div class="each-experience">
              <h1 class="experience-title">
                Constellation Challenge
              </h1>
              <p class="experience-when">Mar/2017 - May/2017 </p>
              <p class="experience-results">Results: National finalists</p>
              <p class="experience-description">
                Constellation Challenge is a student challenge in which the students receive a real-life company and have to perform an industry analysis and develop a full DCF valuation model. The group performed the analysis for Grupo Fleury, the second biggest company providing medical diagnosis in Brazil. Over 230 groups started the competition, and the group finished Top 10.
              </p>
              </p>
              <p class="experience-description">
                The industry analysis slides prepared by the team can be downloaded in the following link:
              </p>
            </div>
          </div>
        </li>

        <li class="item" id="academic">
          <p class="accordeon-group accordeon-group-2"><i class="fas fa-caret-down accordeon-dropdown-carets"></i>Academic</p>
          <div class="smenu">
            <div class="each-experience">
              <h1 class="experience-title">
                Uai sô! Fly!!!
              </h1>
              <p class="experience-when">Feb/2013 - Oct/2014 </p>
              <p class="experience-description">
                Uai sô! Fly!!! is the aeromodelling team of UFMG and one of the most prestigious in Brazil, many times national champions and 3 times World Champions
              </p>
              <p class="experience-description">
                In 2013, I participated in the junior section of the team. We designed and built a radio-controlled aircraft. Responsible for Fuselage, Engine and Landing Gear. Detailed report on the project draft and aircraft performance. Responsible for presenting the project on behalf of the team to the competition judges. The project finished 6th out of 75 teams on the 15th SAE BRASIL AERODESIGN 2013, being the best team in the whole competition to be composed only by junior members, in front of Senior teams from famous universities such as EESC, UFSCar and ITA. In 2014, I assisted the senior student group.
              </p>
              <p class="experience-description">
                This student group was a very comprehensive experience. It helped me develop team-work skills, task management, project management, engineering knowledge, hands-on building, detailed engineering report writting, programming and physics simulations, presentation skills, among others. Because of this, it is the most significant experience during my academic life and I love to talk about it.
              </p>
            </div>

            <div class="each-experience">
              <h1 class="experience-title">
                Toy Design Workshop
              </h1>
              <p class="experience-when">Jun/2016 - Jul/2016 </p>
              <p class="experience-description">
                In the end of my exchange program, students are encouraged to do a summer internship in universities of the country. I was able to participate in the summer program of Purdue University, ranked the 8th best mechanical engineering program in the US.
              </p>
              <p class="experience-description">
                During the program, I helped develop a Summer Workshop program called "Toy Design". Gifted (high IQ) students from many countries (US, China, Mexico, Colombia, Greece, South Korea) came to participate in challenges we design, to see how they plan build and test using the ideas of simple home-friendly approach for building robots, developed in the C Design Lab.
              </p>
              <p class="experience-description">
                Many other physics and engineering challenges were given, such as the famous marshmallow tower challenge (that shows kids can build better structures than CEOs, and they can), NERF Gun assembly and mechanism designs. The program was very impactful: the kids responded questionnaires about their confidence in their creativity and interest for engineering areas, both on the beggining and end of the workshop. By the end, their overall interest increased over 40%, especially among the female students, helping prove wrong archaic gender roles concepts.
              </p>
            </div>
          </div>
        </li>

      </div>
    </div>
  </div>
</div>










