<!-- <div class="page-desktop"> -->

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://upload.wikimedia.org/wikipedia/commons/1/1e/A_blank_black_picture.jpg');">
    <div class="banner-content">
      <%= image_tag "few-picture.jpeg", class:"img-circle avatar-picture" %>
      <h1>Felipe Machado dos Santos</h1>
      <h2>Full stack developer</h2>
      <p>Personal portfolio</p>
      <ul class="banner-list">
        <li class="banner-list-item">
          <a href="/resume" class="">Resume</a>
        </li>
        <li class="banner-list-item">
          <a href="/projects" class="">Projects</a>
        </li>
        <li class="banner-list-item">
          <a href="/contact" class="">Contact</a>
        </li>
      </ul>
    </div>
  </div>

<!-- </div> -->

