<%= render 'shared/title-bar' %>

<!-- Normal navbar for mobile -->

<!-- //// -->

<div class="wrapper-page">
  <div class="container-page">
    <div class="skillset">
      <h1 class="skillset-title">Programming</h1>
      <ul class="skillset-list">
        <li class="skillset-list-item">HTML5</li>
        <li class="skillset-list-item">CSS3, SCSS, CSS Frameworks (Boostrap & Tachions)</li>
        <li class="skillset-list-item">Javascript ES6</li>
        <li class="skillset-list-item">Respnsive web design</li>
        <li class="skillset-list-item">Ruby on Rails</li>
        <li class="skillset-list-item">Ruby gems (Authentication, Authorization, Geocoding, Searching, Payment, Mailing, Background Jobs, etc...)</li>
        <li class="skillset-list-item">Test Driven Development</li>
        <li class="skillset-list-item">APIs</li>
        <li class="skillset-list-item">Git Versioning tools (Github, Gitlab)</li>
        <li class="skillset-list-item">Relational databases (SQLite, PostgreSQL)</li>
        <li class="skillset-list-item"></li>
      </ul>
    </div>

    <div class="skillset">
      <h1 class="skillset-title">Business & Marketing</h1>
      <ul class="skillset-list">
        <li class="skillset-list-item">Profitability analysis</li>
        <li class="skillset-list-item">Return on investment analysis</li>
        <li class="skillset-list-item">Pricing</li>
        <li class="skillset-list-item">Market Entry and new products</li>
        <li class="skillset-list-item">Sales Funnel</li>
        <li class="skillset-list-item">Customer lifetime value</li>
        <li class="skillset-list-item">Porter's Competitive Forces</li>
        <li class="skillset-list-item">Breakeven analysis</li>
        <li class="skillset-list-item">Value chain analysis</li>
      </ul>
    </div>

    <div class="skillset">
      <h1 class="skillset-title">Finances</h1>
      <ul class="skillset-list">
        <li class="skillset-list-item">P&L, Income Statement</li>
        <li class="skillset-list-item">Cash Flow Statement analysis</li>
        <li class="skillset-list-item">DCF & Multiples Valuation</li>
        <li class="skillset-list-item">Value chain analysis</li>
      </ul>
    </div>

    <div class="skillset">
      <h1 class="skillset-title">Languages</h1>
      <ul class="skillset-list">
        <li class="skillset-list-item">Portuguese: native</li>
        <li class="skillset-list-item">English: fluent</li>
        <li class="skillset-list-item">Spanish: intermediate</li>
      </ul>
    </div>

    <div class="skillset">
      <h1 class="skillset-title">Programming languages</h1>
      <ul class="skillset-list">
        <li class="skillset-list-item">C</li>
        <li class="skillset-list-item">Ruby</li>
        <li class="skillset-list-item">Python</li>
        <li class="skillset-list-item">MATLAB</li>
      </ul>
    </div>

    <div class="skillset">
      <h1 class="skillset-title">Softwares</h1>
      <ul class="skillset-list">
        <li class="skillset-list-item">Advanced Microsoft Office</li>
        <li class="skillset-list-item">Intermediate PowerBI</li>
        <li class="skillset-list-item"></li>
        <li class="skillset-list-item"></li>
      </ul>
    </div>


  </div>
</div>










