.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;

  padding: 0 180px;
}

.banner h2 {
  font-size: 30px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 0;

  border-bottom: 1px solid rgba(200,200,200,1);

  padding: 0 60px 30px 60px;
}

.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 60px;
  margin-top: 30px;
}

.avatar-picture {
  width: 300px;
  border: 1px solid white;
}

.banner-list {
  width: 50%;
  margin: 0 auto;
  padding-left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-list-item {
  a:link, a:hover, a:active, a:visited {
    text-decoration: none;

    color: white;
    font-size: 20px;
    font-weight: 200;

    padding: 30px 30px;

    &:hover {
      background: white;
      color: $mid-blue;
      transition: 500ms ease;
    }
  }
}

@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 20px;

    padding: 20px 0px;

    margin: 0 20px;
  }

  .banner p {
    font-size: 22px;
    margin-bottom: 60px;
    margin-top: 20px;
  }

  .banner-list {
    display: block;

    width: 80%;
  }

  .banner-list-item {
    font-size: 18px;

    margin-bottom: 20px;

    padding-left: 0;

    a:link, a:hover, a:active, a:visited {
      font-size: 20px;

      padding: 10px 70px;
    }
  }

  .avatar-picture {
    width: 200px;
    border: 1px solid white;
  }

  .banner h2 {
    font-size: 20px;
    padding: 0 60px 30px 60px;
  }
}
