.title-banner {
  color: white;
  text-align: center;
  height: 30vh;
  background-size: cover !important;

  display: flex;
  align-items: center;

  position: relative;

  padding-left: 100px;
}

.title-banner h1 {
  font-size: 80px;
  font-weight: bold;
  font-family: $amatic;
  letter-spacing: 3px;

  margin: 0;
}

.title-banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.title-banner-list {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.title-banner-list-item {
  padding: 0 !important;
  margin: 0;

  a:link, a:hover, a:active, a:visited {
    text-decoration: none;

    color: white;
    font-size: 20px;
    font-weight: 400;

    padding: 30px 20px;

    margin: 0;

    &:hover {
      color: $dark-blue;
      background: white;
      transition: 300ms ease;
    }
  }
}

.title-banner-active {
  color: $dark-blue !important;
  background: white;
  border-bottom: 3px solid $spacewagons-green;
}
